@tailwind base;
@tailwind components;
@tailwind utilities;

.parent {
  padding: 0 1rem;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.768);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 400px auto;
  width: 80%;
  margin: 1rem auto;
}
.parent2 {
  padding: 0 1rem;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.768);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 1rem auto;
}

.left {
  border-right: 1px solid rgba(128, 128, 128, 0.358);
  padding: 1rem 0;
}

.right {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.calendar {
  border: none !important;
  /* width: 100% !important; */
  background-color: red;
}

.react-calendar {
  width: 100%;
}

.react-calendar__tile {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
  color: rgba(0, 0, 0, 0.671) !important;
}

.react-calendar__tile--active {
  background-color: #0371fc !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
  color: white !important;
  font-weight: 600;
  /* background-color: #ffcc00;  */
}
.react-calendar__tile:hover {
  border-radius: 50% !important;
}

.react-calendar__month-view__weekdays__weekday {
  color: rgba(0, 0, 0, 0.671) !important;
  font-weight: 600;
}

.scheduleButton {
  background-color: #7366f2;
  padding: 1rem 3rem;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .parent2 {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .right {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
  }
}
